<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shopping_list.title %>
</p>

<p>
  <strong>was bought:</strong>
  <%= @shopping_list.was_bought %>
</p>

<%= link_to 'Back', shopping_lists_path %>
