// Place all the styles related to the ShoppingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('https://st.depositphotos.com/1000794/2219/i/950/depositphotos_22192825-stock-photo-background-a-crumpled-sheet.jpg');
}
.container {
  margin-top: 50px;
}
#new_shopping_list [type="submit"] {
  width: 100%;
  background: #14a929;
  border: none;
  color: #ffff;
  height: 35px;
  cursor: pointer;
}
.edit_shopping_list [type="submit"] {
  width: 100%;
  background: #14a929;
  border: none;
  color: #ffff;
  height: 35px;
  cursor: pointer;
}

#new_shopping_list [type="submit"]:hover{
  background: #ffff;
  border: 1px solid #14a929;
  color: #14a929;
}
#edit_shopping_list [type="submit"]:hover{
  background: #ffff;
  border: 1px solid #14a929;
  color: #14a929;
}
.back-icon{
  margin-top: 123px;
  display: block;
  font-size: 30px;
}

.add_shopping_list {
  border: solid 1px #ffca28;
  padding: 10px;
  background: #ffca28;
  color: #ffff;
  font-weight: bold;
}
.add_shopping_list:hover {
  background: #ffff;
  color: #ffca28;
  text-decoration:none;
}
